.other_services{
    width: 100%;
    min-height: 100%;
    background: var(--Primary-01, #D0F2EE);
}

.other_services h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: normal;
color: var(--Accent-Main-Accent, #073169);
text-align: center;
}
.other_services span{
    background: var(--Linear, linear-gradient(90deg, #16CDAC 0.21%, #0C3B98 99.79%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

.other_services_div{
    width: 100%;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 2fr;
 gap: 2em;
padding: 20px;
margin: 2px;

}

.Appointment_booking{
    display: block;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    background: var(--White-01, #FDFDFD);
     border-radius: 20px;
     color: #172048;
    padding-left: 20px;
    text-align: justify;
    height: max-content;
    padding-top: 40px;
 }

.Appointment_booking h4{
    font-size: 18px;
    font-weight: 800;
  line-height: 27px;
  text-align:center;
  color: var(--Accent-Main-Accent, #073169);
}
.other_services_div p{
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
    color: #025F7D;
    padding-right: 2px;
    padding-bottom: 5px;
  
    min-width: fit-content;

}
.other_services_div img{
    width: 150px;
    height: 123px;
  border-radius: 50%;
 margin-left: 50px;
 background:none;

    align-self: center;
}

 
 .Appointment_booking p:hover{
  color: #fff;
 }
 .Appointment_booking h4:hover{
    color: #fff;
   }
 .Appointment_booking:hover{
     background: linear-gradient(170deg, #16CDAC -9.82%, #0C3B98 137.55%);
     transform: translateY(-7px);
     color: #fff;
 }
 


 @media (min-width: 1023px) and (max-width: 1440px){
.other_services{
    width: 100%;
}
.other_services h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: normal;
color: var(--Accent-Main-Accent, #073169);
text-align: center;
}
.other_services span{
    background: var(--Linear, linear-gradient(90deg, #16CDAC 0.21%, #0C3B98 99.79%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 44px;
}
.other_services_div p{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
    color: #025F7D;
    padding-right: 2px 10px;
    

}

 }

 @media (min-width: 766px) and (max-width: 1022px){
    .other_services{
        width: 150%;
    }
 }

 @media screen and (max-width: 430px){
    .other_services{
        width: 200%;
    }
    .other_services_div{
        width: 100%;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 2fr;
     gap: 2em;
    padding: 10px;
    margin: 2px;
    
    }
    .Appointment_booking h4{
        font-size: 16px;
        font-weight: 800;
      line-height: 27px;
      text-align:center;
      color: var(--Accent-Main-Accent, #073169);
    }
    .other_services_div p{
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        margin-top: 5px;
        color: #025F7D;
        padding-right: 2px;
        text-align: center;
    
    }
    .other_services_div img{
        width: 100px;
        height: 123px;
      border-radius: 50%;
     margin-left: 50px;
     background:none;
    
        align-self: center;
    }
    .other_services span{
        background: var(--Linear, linear-gradient(90deg, #16CDAC 0.21%, #0C3B98 99.79%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 900;
        font-size: 44px;
    }
    
 }

